{{ define "main" }}
<div class="tags">
    <header class="page-header">
        {{ $tags := .Data.Terms }}
    </header>
    
    <div class="tags-content">
        {{ range $tags.Alphabetical }}
        <div class="tag-group">
            <h2 class="tag-title">{{ .Page.Title | upper }}</h2>
            <div class="tag-posts">
                {{ range .Pages }}
                <article class="tag-post">
                    <div class="tag-date">
                        <time datetime="{{ .Date.Format "2006-01-02" }}">
                            {{ .Date.Format "2006-01-02" }}
                        </time>
                    </div>
                    <div class="tag-content">
                        <h3 class="tag-post-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}